In [22]:
from minesweeper_env import MinesweeperEnv

WIDTH = 5
HEIGHT = 6
NUM_MINES = 10

shit = MinesweeperEnv(width=WIDTH, height=HEIGHT, n_mines=NUM_MINES)

# init_grid() is called in constructor already
# same for init_state() and get_board()
# get_state_im is board state getter for DQN

In [ ]:
shit.reset()
shit.draw_state(shit.get_state_im(shit.state))

In [25]:
next, reward, done = shit.step(5)

print(reward, done)
shit.draw_state(next)

-1 True